.target-relationship-picker {
  display: flex;

  .item {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    margin: 0;

    .icon-wrapper {
      &.rival .multicolor-icon {
        background-image: url('../images/ui/icons/flag_t_rival.png');
      }
      &.neutral .multicolor-icon {
        background-image: url('../images/ui/icons/flag_t_neutral.png');
      }
      &.friend .multicolor-icon {
        background-image: url('../images/ui/icons/flag_t_green.png');
      }
      .multicolor-icon {
        margin: 0;
        display: block;
        height: 9vmin;
        width: 9vmin;
        background-size: 100%;
        background-position: center center;
      }
    }

    &.everyone {
      .icon-wrapper {
        margin-left: -1vmin;
        z-index: 3;
        & + .icon-wrapper {
          margin-left: -5vmin;
          z-index: 2;
          & + .icon-wrapper {
            z-index: 1;
          }
        }
      }
    }
    &.no-rivals {
      .icon-wrapper {
        margin-left: 0.5vmin;
        z-index: 2;
        & + .icon-wrapper {
          margin-left: -4.5vmin;
          z-index: 1;
        }
      }
    }
    &.friend {
      .icon-wrapper {
        margin-left: 3vmin;
      }
    }

    &:not(.active) {
      .button {
        @include filter-fix();
        filter: brightness(0.4);
      }
    }

    .button {
      width: 60% !important;
      max-width: 17vmin;
      margin: 0 auto;
    }

    .text {
      font-size: 60%;
      text-align: center;
    }
  }
}