.loader-button {
  overflow: hidden;

  .loader-button-overlay,
  .loader-button-overlay-icon {
    display: none;
  }
  .loader-button-content {
    display: flex;
    flex-grow: 1;
  }
  &.loading {
    pointer-events: none;

    .loader-button-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      opacity: 0.6;
      z-index: 19;
      border-radius: 1vmin;
    }
    .loader-button-overlay-icon {
      display: block;
      position: absolute;
      top: -300%;
      left: 0;
      right: 0;
      bottom: -300%;
      background-image: url('../images/icons8-loader-96.png');
      background-size: auto 13%;
      background-repeat: no-repeat;
      background-position: center;
      filter: contrast(0) brightness(1.5) sepia(1);
      @include filter-fix();
      z-index: 20;
      pointer-events: none;
      animation: rotate8 1s infinite linear;
    }
  }


  //.gooey {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  filter: contrast(20);
  //
  //  .dot {
  //    position: absolute;
  //    width: 16px;
  //    height: 16px;
  //    top: 12px;
  //    left: 15px;
  //    filter: blur(4px);
  //    background: white;
  //    border-radius: 50%;
  //    transform: translateX(0);
  //    animation: dot 2.8s infinite;
  //  }
  //
  //  .dots {
  //    transform: translateX(0);
  //    margin-top: 12px;
  //    margin-left: 31px;
  //    animation: dots 2.8s infinite;
  //
  //    span {
  //      display: block;
  //      float: left;
  //      width: 16px;
  //      height: 16px;
  //      margin-left: 16px;
  //      filter: blur(4px);
  //      background: white;
  //      border-radius: 50%;
  //    }
  //  }
  //}
}

@keyframes rotate8 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(359deg); }
}
