.player-trades {
  .selected .item-icon {
    filter: brightness(1.3) !important;
    @include filter-fix();

    .border {
      filter: brightness(1.6) saturate(6) !important;
      @include filter-fix();
    }
  }

  .header {
    font-size: 60%;
    padding: 0 2vmin;
    line-height: 8vmin;
    text-shadow: $text-shadow;
  }

  &.modal {
    .item-list {
      max-height: 40vh;
      margin-bottom: 3vmin;
      overflow: auto;
    }
  }

  .number-selector {
    margin: 0 auto;
  }
  
  .controls {
    display: flex;
  }

  .trade-sides {
    display: flex;

    .trade-side {
      max-width: 50%;
      width: 50%;

      &.accepted {
        background: #004d00;
        box-shadow: inset 0 0 2vmin 0.5vmin black;
      }

      .item-list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 2vmin;
      }

      .utility-button-item {
        padding: 2vmin;
      }
    }
  }
}
